name: System Definition Checker

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check-system-definition:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Verify Confession checker
        run: python3 -m tool.test.test_confession_checker

      - name: Run Confession Checker
        run: python3 -m tool.confession_checker.checker
